body {
    background-color: #009688;
    font-family: sans-serif;
    overscroll-behavior-y: contain;
}

#content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

h1 {
    text-align: center;
}

#message {
    font-size: large;
    text-align: center;
}

.gap {
    display: none;
}

#game-grid {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    aspect-ratio: 1 / 1;
    container-type: size;
    gap: 2%;
}

.letter {
    padding-top: 2cqh;
    font-size: 12cqh;
    text-align: center;
    border-radius: 3cqh;
    border-style: solid;
    border-top-width: 0.5cqh;
    border-left-width: 0.5cqh;
    border-right-width: 0.5cqh;
    border-bottom-width: 2cqh;
}

.letter.wrong-position:hover, .letter.wrong:hover {
    cursor: grab;
}

.letter.correct:hover {
    cursor: default;
}

.letter.correct {
    border-color: #649e53;
    background-color: #6fb05c;
    color: white;
}

.letter.wrong-position {
    border-color: #d1a734;
    background-color: #e9ba3a;
    color: white;
}

.letter.wrong {
    border-color: #d5d7d8;
    background-color: #edeff1;
    color: black;
}

.letter.dragging {
    position: relative;
    z-index: 10;
}

@media only all and (max-width: 45em) {
    #content {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        margin-left: 0px;
        margin-right: 0px;
        border-radius: 0px;
    }
}

@media not all and (max-width: 45em) {
    #content {
        max-width: 40em;
        margin-left: auto;
        margin-right: auto;
        border-radius: 4px;
        height: 95vh;
    }
}
